<%- include("./partials/header")%>

<h1>MY PORTFOLIO</h1>
    <div class="jumbotron">
        <h1 class="display-4"><b>ABOUT ME</b></h1>
        <br>
        <hr class="my-4">
        <p class="lead">
          <h1>HI MYSELF SHASHANK RAI I STUDY IN IIT BHU </h1>
          <br>
          <hr class="my-4">
          <h1>SHORT DESCRIPTION OF MYSELF </h1>
          <br>
          <hr class="my-4">
           <br>
            <h1>MY INSTITUTE</h1>
            <br>
            <h2>IIT BHU</h2>
            <br>
            <ol type="1">
              <li>ONE OF OLDEST INSTITUTES IN INDIA STARTED IN 1919</li>
              <br>
              <li>FOUNDER MADAN MOHAN MALAVIYA</li>
              <br>
              <li>BOASTS ONE OF INDIA MOST SCRENIC AND BEAUTIFUL CAMAPUS </li>
              <br>
            <P>WANT TO KNOW MORE CLICK BELOW BUTTON</P>
            <br>
            <a class="btn btn-primary btn-danger" href="https://www.iitbhu.ac.in/" role="button">IIT BHU</a>
            <br>
            <hr class="my-4">
            <h1>HOBBIES</h1>
            <br>
            <ol type="1">
              <li>I LIKE TO READ SRILA PRABHUPADA BOOKS AND ABOUT KRSNA AND HIS DEVOTEES PLEASE READ THEM ONCE IN LIFE</li>
              <br>
              <P>WANT TO KNOW MORE CLICK BELOW BUTTON</P>
            <a class="btn btn-primary btn-danger" href="https://www.iskconbangalore.org/srila-prabhupada/catalog-of-srila-prabhupadas-books" role="button">SRILA PRABHUPADA</a>
              <br>
              <br>
            <li>I LIKE TO PLAY CRICKET</li>
              <br>
              <li>ALL TIME FAVOUTITE MOVIES HARRY POTTER AND LORD OF RINGS</li>
              <br>
              <hr class="my-4">
            <h1>CAREER</h1>
            <br>
            <ol type="1">
              <li>BORN IN KOTA RAJASTHAN </li>
              <br>
              <li>SCHOOLING AT RYAN SCHOOL AND DAV PUBLIC SCHOOL IN KOTA</li>
              <br>
              <li>CURRENTLY LIVING IN BOMBAY</li>
            </ol>
        <%- include("./partials/footer")%>