<%- include("./partials/header")%>

<h1>WEB PROJECT AT DEMUX ACADEMY</h1>
    <div class="jumbotron">
        <h1 class="display-4">PROJECT INFO</h1>
        <br>
        <hr class="my-4">
        <p class="lead">
            <h1>PROJECT AGENDA</h1>
            <br>
            <p>
                Set uped a EC2 web server and configured different services through Virtual Hosting with embedded Caching and Mysql Host setup.
                 Also, uploaded my project on Github using version control. 
            </p>
            <br>
            <hr class="my-4">
            <h1>TECH INVOLVED</h1>
            <br>
            <p>
                AWS EC2 Ubuntu image instance, Elastic IP load balancer, DB sharding, Virtual Hosting through Apache V2, 
                 Confd Configuration, MYSQL setup, Memcache Configuration, Version Control ( Github and Bitbucket), DNS Config and full web stack for our microservice (HTML,CSS,JS,PHP,Jquery, Angular-JS,NodeJS etc)
            </p>
            <br>
            <hr class="my-4">
            <h1>GOAL</h1>
            <br>
            <p>
                I had configured a web server of my own and then hosted a webservice and created a 301 redirect to demux servers. 
                At the end of this exercise i had upload my project on my very own personal web server and my portfolio is now live over the domain name bought by me.
                 I also configured  a DNS and saw how it works in real time.
            </p>
        </p>
        <a class="btn btn-primary btn-danger" href="https://demux.in/" role="button">DEMUX ACADEMY</a>
        <%- include("./partials/footer")%>